@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/** REGULAR **/
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: local("☺"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

/** BOLD **/
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  src: local("☺"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/** BLACK **/
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham.eot");
  src: local("☺"), url("../fonts/Gotham.woff") format("woff"), url("../fonts/Gotham.ttf") format("truetype"), url("../fonts/Gotham.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.menu__list li:nth-child(1) {
  -webkit-animation: animated 0.5s;
          animation: animated 0.5s;
}

.menu__list li:nth-child(2) {
  -webkit-animation: animated 0.7s;
          animation: animated 0.7s;
}

.menu__list li:nth-child(3) {
  -webkit-animation: animated 0.9s;
          animation: animated 0.9s;
}

.fp-right {
  -webkit-animation: navAnime 0.375s;
          animation: navAnime 0.375s;
}

.main .title,
.main .subtitle,
.work .title,
.work .subtitle,
.create .title,
.create .subtitle {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate(0px, 140%);
          transform: translate(0px, 140%);
}

.main .background,
.work .background,
.create .background {
  background-color: #000;
}

.main .background__body,
.work .background__body,
.create .background__body {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s 0.7s ease;
  transition: all 0.7s 0.7s ease;
}

.main .btn-more,
.work .btn-more,
.create .btn-more {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate(0px, 200%);
          transform: translate(0px, 200%);
}

.main.active .title,
.main.active .subtitle,
.work.active .title,
.work.active .subtitle,
.create.active .title,
.create.active .subtitle {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.main.active .background__body,
.work.active .background__body,
.create.active .background__body {
  opacity: 1;
  visibility: visible;
}

.main.active .btn-more,
.work.active .btn-more,
.create.active .btn-more {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@-webkit-keyframes animated {
  from {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translate(120%, 0px);
            transform: translate(120%, 0px);
  }
  to {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes animated {
  from {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translate(120%, 0px);
            transform: translate(120%, 0px);
  }
  to {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes navAnime {
  from {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  to {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

@keyframes navAnime {
  from {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  to {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

body {
  font-family: "Gotham", sans-serif;
  font-weight: 500;
}

.container {
  padding: 0px 50px 0px 50px;
}

@media (max-width: 767px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  padding: 20px 0px 20px 0px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: calc(18px + 6 * ((100vw - 320px) / 960));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: relative;
}

.logo__title span:first-child {
  font-size: calc(36px + 12 * ((100vw - 320px) / 960));
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px 45px 0px 0px;
}

.logo__title::before {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 52%;
  left: 58%;
}

@media (max-width: 767px) {
  .logo__title::before {
    left: 50%;
  }
}

.logo__title span:last-child {
  font-weight: 500;
  position: absolute;
  top: 20%;
}

.menu__body {
  display: none;
  position: absolute;
  margin: 25px 0px 0px 0px;
  right: 45px;
}

.menu__body.active {
  display: block;
}

@media (max-width: 767px) {
  .menu__body {
    right: 15px;
  }
}

.menu__list {
  text-align: end;
}

.menu__link {
  display: block;
  font-size: calc(24px + 12 * ((100vw - 320px) / 960));
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  margin: 15px 0px 0px 0px;
}

.icon-menu.focus {
  color: #cd14a8;
}

.icon-menu.focus span {
  color: #cd14a8;
}

.icon-menu.focus span::after {
  content: "";
  background-color: #cd14a8;
}

.icon-menu span {
  cursor: pointer;
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  font-weight: 700;
  position: relative;
}

.icon-menu span::after {
  content: "";
  width: 120%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: -10%;
}

.icon-menu span:hover {
  color: #cd14a8;
}

.icon-menu span:hover::after {
  content: "";
  background-color: #cd14a8;
}

.main {
  color: #fff;
  overflow: hidden;
  position: relative;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article {
  margin: 48px 0 0 0;
}

.article__btn {
  margin: 48px 0 0 0;
}

.title {
  font-size: calc(36px + 36 * ((100vw - 320px) / 960));
  font-weight: 700;
  text-transform: capitalize;
}

.subtitle {
  font-size: calc(18px + 18 * ((100vw - 320px) / 960));
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  margin: 0px 0px 0px 48px;
}

.subtitle::after {
  content: "";
  width: 36px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 48%;
  left: -42px;
}

@media (max-width: 767px) {
  .subtitle {
    margin: 0px 0px 0px 36px;
  }
  .subtitle::after {
    content: "";
    width: 24px;
    left: -35px;
  }
}

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  color: #fff;
  border: 1px solid #cd14a8;
  border-radius: 50%;
}

.btn-more:hover {
  padding: 0px 3px 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.background__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 0 90% 0;
}

@media (max-width: 767px) {
  .background__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0 0 225% 0;
  }
}

.work {
  color: #fff;
  overflow: hidden;
  position: relative;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create {
  color: #fff;
  overflow: hidden;
  position: relative;
}

.create__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
