h1 {
  max-width: 100px;
  height: auto;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#fp-nav span,
.fp-slidesNav span {
  background: white !important;
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.s1 {
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1608208493377-9db89e3d8c19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
}

.s1 h1 {
  color: #000;
}

@media (max-width: 767px) {
  .s1 h1 {
    color: #fff;
  }
}

.s2 {
  background: url("https://images.unsplash.com/photo-1511783111049-b4c32d7fa8fa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

.s2 h1 {
  color: #fff;
}

.s3 {
  background: url("https://images.unsplash.com/photo-1507386826765-02a261c17889?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

.s3 h1 {
  color: #fff;
}

.s4 {
  background: url("https://images.unsplash.com/photo-1438805151938-aa2868f81b7d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80");
  background-size: cover;
}

.s4 h1 {
  color: #fff;
}

.s5 {
  background: url("https://images.unsplash.com/photo-1585772964418-00d2cf187dfd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

.s5 h1 {
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  height: auto;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.header__logo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.menu__body {
  display: block;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.menu__link {
  font-size: 24px;
  color: #000;
  margin: 0px 20px 0px 0px;
  position: relative;
}

.menu__link::after {
  content: "";
  width: 0px;
  height: 2px;
  background: #000;
  position: absolute;
  right: 0;
  bottom: 0;
}

.menu__link:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .menu__body {
    display: none;
  }
  .menu__body.active {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 1;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .menu__link {
    display: block;
    margin: 20px 0px 0px 0px;
    text-transform: uppercase;
    color: white;
    z-index: 2;
  }
}

.icon-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 18px;
  height: 18px;
}

.icon-menu span {
  background-color: #000;
  width: 18px;
  height: 2px;
  z-index: 11;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.icon-menu span:nth-child(2) {
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.icon-menu.active span {
  background-color: #fff;
  -webkit-transform: rotate(45deg) translateX(5px) translateY(5px);
          transform: rotate(45deg) translateX(5px) translateY(5px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate(-45deg) translateX(6px) translateY(-6px);
          transform: rotate(-45deg) translateX(6px) translateY(-6px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.icon-menu.active span:nth-child(2) {
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
