@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("https://i.gifer.com/82MU.gif") 0 0 no-repeat fixed;
  background-size: cover;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
}

.about, .contant, .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}
.about__container, .contant__container, .work__container {
  max-width: 750px;
  max-height: 550px;
  width: 100%;
  height: 100%;
  background: #fff;
}
.about__row, .contant__row, .work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.about__article, .contant__article, .work__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__title, .contant__title, .work__title {
  margin: 0 0 30px 0;
}
.title {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  padding: 0 0 30px 0;
  position: relative;
}
.title:after {
  content: "";
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  border-bottom: 1px solid #000;
  margin: 0 0 0 -25px;
  position: absolute;
}

.subtitle {
  max-width: 75%;
  width: 100%;
}