.menu {
	&__body {
		&.active {
		}
	}

	&__list {
		li {
			&:nth-child(1) {
				animation: animated 0.5s;
			}
			&:nth-child(2) {
				animation: animated 0.7s;
			}
			&:nth-child(3) {
				animation: animated 0.9s;
			}
		}
	}

	&__link {
	}
}

.fp-right {
	animation: navAnime 0.375s;
}

.main,
.work,
.create {
	.title,
	.subtitle {
		opacity: 0;
		transition: all 1s;
		transform: translate(0px, 140%);
	}

	.background {
		background-color: #000;
		&__body {
			opacity: 0;
			visibility: hidden;
			transition: all 0.7s 0.7s ease;
		}
	}

	.btn-more {
		opacity: 0;
		transition: all 1s;
		transform: translate(0px, 200%);
	}
	&.active {
		.title,
		.subtitle {
			opacity: 1;
			transition: all 1s;
			transform: translate(0px, 0px);
		}

		.background {
			&__body {
				opacity: 1;
				visibility: visible;
			}
		}
		.btn-more {
			opacity: 1;
			transition: all 1s;
			transform: translate(0px, 0px);
		}
	}
}

@keyframes animated {
	from {
		opacity: 0;
		transition: all 1s;
		transform: translate(120%, 0px);
	}
	to {
		opacity: 1;
		transition: all 1s;
		transform: translate(0px, 0px);
	}
}

@keyframes navAnime {
	from {
		opacity: 0;
		transition: all 1s;
	}
	to {
		opacity: 1;
		transition: all 1s;
	}
}
