@import "_showcase";
@import "_reset";
.header {
	width: 100%;
	height: auto;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		width: 50px;
		height: 50px;
		position: relative;
		overflow: hidden;
		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
		}
	}

	&__menu {
	}
}
.menu {
	&__icon {
	}

	&__body {
		display: block;
	}

	&__list {
		display: flex;
		z-index: 1;
	}

	&__link {
		font-size: 24px;
		color: #000;
		margin: 0px 20px 0px 0px;
		position: relative;
		&::after {
			content: "";
			width: 0px;
			height: 2px;
			background: #000;
			position: absolute;
			right: 0;
			bottom: 0;
		}
		&:hover {
			&::after {
				content: "";
				width: 100%;
				height: 2px;
				background: #000;
				position: absolute;
				right: 0;
				bottom: 0;
				transition: 0.5s;
			}
		}
	}
	@media (max-width: 1024px) {
		&__body {
			display: none;
			&.active {
				display: block;
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
				background: #000;
				opacity: 1;
			}
		}
		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
		&__link {
			display: block;
			margin: 20px 0px 0px 0px;
			text-transform: uppercase;
			color: white;
			z-index: 2;
		}

		&__icon {
		}
	}
}
.icon-menu {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 18px;
	height: 18px;
	span {
		background-color: #000;
		width: 18px;
		height: 2px;
		z-index: 11;
		transition: 0.2s;
		&:nth-child(2) {
			display: block;
			transition: 0.2s;
		}
	}
	&.active {
		span {
			background-color: #fff;
			transform: rotate(45deg) translateX(5px) translateY(5px);
			transition: 0.2s;
		}
		span:last-child {
			transform: rotate(-45deg) translateX(6px) translateY(-6px);
			transition: 0.2s;
		}
		span:nth-child(2) {
			display: none;
			transition: 0.2s;
		}
	}
	@media (max-width: 1024px) {
		display: flex;
	}
}
